{% extends 'main.html.twig' %}

{% block htmlhead %}
<link rel="stylesheet" href="{{ asset('leaflet/leaflet.css') }}" />
<script src="{{ asset('leaflet/leaflet.js') }}"></script>

<script>
{{ include('mfzch/scripts/generics.js.twig') }}
</script>
{% endblock %}

{% block main %}
<script>
if (typeof jQuery != 'undefined') {
	// enable block-level ajax disable
	$.mobile.ignoreContentEnabled = true;
}
</script>
<div data-role="page" id="main-page">
	<div role="main" class="ui-content" data-ajax="false">
		<h1>Player Finder</h1>
		<p>Players in your area</p>
		<div id="mapid" style="height: 50vh;"></div>
		<script>
		$(document).on("pagecontainershow", function(event, ui) {
			{% if app.user and app.user.geo_latitude and app.user.geo_longitude %}
				var mymap = L.map('mapid').setView([{{ app.user.geo_latitude|e }}, {{ app.user.geo_longitude|e }}], 11);
			{% else %}
				var mymap = L.map('mapid').setView([42.6, -72.6], 9);
			{% endif %}

			mymap.attributionControl.setPrefix('');

			var Stamen_Terrain = L.tileLayer('http://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.{ext}', {
				attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
				subdomains: 'abcd',
				minZoom: 8,
				maxZoom: 18,
				ext: 'png'
			});

			Stamen_Terrain.addTo(mymap);
			L.control.scale().addTo(mymap);

			var userIcon = L.divIcon({
				html: getIcon('frame', '#be1e2d'),
				iconSize: [36, 36],
				iconAnchor: [24, 16],
				popupAnchor: [0, -12]
			});

			function getNewPlayers() {
				var mapObj = new Object();
				mapObj['data'] = JSON.stringify(mymap.getCenter());
				$.get('/get-players', mapObj)
				.done(function(result){
					group.remove();

					group = new L.featureGroup();

					for (var point in result) {
						L.marker([ result[point].geo_latitude , result[point].geo_longitude ], {icon: userIcon})
						.bindPopup('<a href="' + result[point].link + '">' + result[point].username + '</a>')
						.addTo(group);
					}

					group.addTo(mymap);

					lastLoad = mymap.getCenter();
				});
			}

			var lastLoad = mymap.getCenter();

			function reloadPoints(e) {
				// 111322m approx distance between latitudes
				if (lastLoad.distanceTo(mymap.getCenter()) > 50000) {
					getNewPlayers();
				};
			}

			var group = new L.featureGroup();
			getNewPlayers();
			mymap.on('moveend', reloadPoints);
		});
		</script>
		<style>
			#mapid .frame-icon {
				width: 3em;
				height: 3em;
			}
			#mapid .leaflet-div-icon {
				background: transparent;
				border: none;
			}
		</style>
	</div>
</div>
{% endblock %}