{% extends 'main.html.twig' %}

{% block htmlhead %}
<link rel="stylesheet" href="{{ asset('leaflet/leaflet.css') }}" />
<script src="{{ asset('leaflet/leaflet.js') }}"></script>

<script>
{{ include('mfzch/scripts/generics.js.twig') }}
</script>
{% endblock %}

{% block main %}
<script>
if (typeof jQuery != 'undefined') {
	// enable block-level ajax disable
	$.mobile.ignoreContentEnabled = true;
}
</script>
<div data-role="page" id="view-profile">
	<div role="main" class="ui-content" data-ajax="false">
		{% if user and user.profile_is_public %}
			<h1>Profile for {{ user.username|e }}</h1>
			<ul>
				{% if user.profile_realname %}
					<li>Real name: {{ user.profile_realname|e }}</li>
				{% endif %}
				{% if user.profile_display_email %}
					<li>{{ user.email|e }}</li>
				{% endif %}
				{% if date(user.elite_expires) > date() %}
					<li>Elite User</li>
				{% else %}
					<li>Regular User</li>
				{% endif %}
				<li>Last login: {{ user.lastLogin()|date("Y-m-d H:i:s") }}</li>

				{% if user.profile_game_preferences %}
					<li>Game Preferences: {{ app.user.profile_game_preferences }}</li>
				{% endif %}

				{% if user.profile_materials %}
					<li>Materials: {{ app.user.profile_materials }}</li>
				{% endif %}

				{% if user.profile_experience %}
					<li>Experience: {{ app.user.profile_experience }}</li>
				{% endif %}
			</ul>


			{% if locations %}
				<div id="mapid" style="max-width: 40em; height: 30em; margin: 0 auto;"></div>
				<script>
				$(document).on("pagecontainershow", function(event, ui) {


					var mymap = L.map('mapid').setView([{{locations[0].geo_latitude}}, {{locations[0].geo_longitude}}], 4);

					mymap.attributionControl.setPrefix('');

					var Stamen_Terrain = L.tileLayer('http://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.{ext}', {
						attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
						subdomains: 'abcd',
						minZoom: 0,
						maxZoom: 18,
						ext: 'png'
					});

					Stamen_Terrain.addTo(mymap);
					L.control.scale().addTo(mymap);

					var userIcon = L.divIcon({
						html: getIcon('frame', '#be1e2d'),
						iconSize: [36, 36]
					});

					backgroundgroup = new L.featureGroup();

					{% for point in locations %}
						{% if point.radius %}
						L.circle( [ {{point.geo_latitude}} , {{point.geo_longitude}} ],
							{
								radius: {{point.radius}} * 1609.34,
								color: '#be1e2d',
								opacity: 0.9,
								weight: 1
							})
						.addTo(backgroundgroup);
						{% endif %}
					{% endfor %}

					backgroundgroup.addTo(mymap);

					group = new L.featureGroup();

					{% for point in locations %}
						L.marker( [ {{point.geo_latitude}} , {{point.geo_longitude}} ], {icon: userIcon})
						.bindPopup( '{{point.name}}' )
						.addTo(group);
					{% endfor %}

					group.addTo(mymap);

					mymap.fitBounds(backgroundgroup.getBounds());
				});
				</script>
				<style>
					#mapid .frame-icon {
						width: 3em;
						height: 3em;
					}
					#mapid .leaflet-div-icon {
						background: transparent;
						border: none;
					}
				</style>
			{% endif %}

		{% else %}
			<h1>No public profile for this user</h1>
		{% endif %}
	</div>
</div>
{% endblock %}