{% extends 'main.html.twig' %}

{% block htmlhead %}
<link rel="stylesheet" href="{{ asset('leaflet/leaflet.css') }}" />
<script src="{{ asset('leaflet/leaflet.js') }}"></script>

<script>
{{ include('mfzch/scripts/generics.js.twig') }}
</script>
{% endblock %}

{% block main %}
<script>
if (typeof jQuery != 'undefined') {
	// enable block-level ajax disable
	$.mobile.ignoreContentEnabled = true;
}
</script>
<div data-role="page" id="main-page">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<h1>Commander's Network</h1>
		<a href="#nav-panel" class="ui-btn-left ui-btn ui-corner-all ui-btn-icon-notext ui-icon-bars">Navigation</a>
	</div>

	<div role="main" class="ui-content" data-ajax="false">

		{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			<h1>Commander's Network</h1>
			<p>Logged in as {{ app.user.getUsername()|e }} | <a href="{{ path('fos_user_security_logout') }}" rel="external">Logout</a></p>

			<ul>
				<li>Real name: {{ app.user.profile_realname|e }}</li>
				<li>{{ app.user.email|e }}</li>
				{% if date(app.user.elite_expires) > date() %}
					<li>Elite User through {{ app.user.elite_expires|date("Y-m-d H:i:s") }} </li>
				{% else %}
					<li>Regular User</li>
				{% endif %}
				<li>Last login: {{ app.user.lastLogin()|date("Y-m-d H:i:s") }}</li>
				<li>Display Profile: {% if app.user.profile_is_public %}Yes{% else %}No{% endif %}</li>
				<li>Display E-mail: {% if app.user.profile_display_email %}Yes{% else %}No{% endif %}</li>
				<li>Patreon ID: {% if app.user.patreon_id %}{{ app.user.patreon_id }} &#8212; <a href="https://www.patreon.com/oauth2/authorize?response_type=code&client_id={{ patreon_client_id }}&redirect_uri={{ url('patreon-test') }}">Update Patreon Account</a>{% else %}None &#8212; <a href="https://www.patreon.com/oauth2/authorize?response_type=code&client_id={{ patreon_client_id }}&redirect_uri={{ url('patreon-test') }}">Connect Patreon Account</a>{% endif %}</li>

				<li>Game Preferences: {{ app.user.profile_game_preferences }}</li>
				<li>Materials: {{ app.user.profile_materials }}</li>
				<li>Experience: {{ app.user.profile_experience }}</li>
			</ul>

			<ul data-role="listview" data-inset="true" class="nav-listview">
				<li data-role="list-divider">Commanders</li>
				<li><a href="{{ path('view-profile-public', {username: app.user.getUsername()}) }}">View My Public Profile</a></li>
				<li><a href="{{ path('edit-profile') }}">Edit Profile</a></li>
				<li><a href="{{ path('edit-profile') }}">Edit Locations</a></li>
				<li><a href="{{ path('player-finder') }}">Locate Commanders</a></li>
			</ul>

		{% else %}
			<p>The commander's network requires users to log in.</p>
			<p>Registration is free and open to all.</p>

			<p><a href="{{ path('fos_user_security_login') }}" rel="external">Log in</a> or <a href="{{ path('fos_user_registration_register') }}" rel="external">Register</a></p>
		{% endif %}
	</div>
</div>
{% endblock %}