{% extends 'main.html.twig' %}

{% block htmlhead %}
<link rel="stylesheet" href="{{ asset('leaflet/leaflet.css') }}" />
<script src="{{ asset('leaflet/leaflet.js') }}"></script>
<script src="{{ asset('jq/mfzch/generics.js') }}"></script>
{% endblock %}

{% block main %}
<script>
if (typeof jQuery != 'undefined') {
	// enable block-level ajax disable
	$.mobile.ajaxEnabled = false;
}
</script>
<div data-role="page" id="command-home">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<h1>Commander Profile</h1>
		<a href="#nav-panel" class="ui-btn-left ui-btn ui-corner-all ui-btn-icon-notext ui-icon-bars">Navigation</a>
	</div>

	<div role="main" class="ui-content" data-ajax="false">

		{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			<p>Welcome, {{ msgphp_user.user.username|e }}.</p>

			<div class="ui-corner-all profile-panel">
				<div class="ui-bar ui-bar-a">
					<h2>Profile</h2>
				</div>
				<div class="ui-body ui-body-a">
					<ul>
						<li>{{ msgphp_user.user.profile_realname|e }}</li>
						<li>{{ msgphp_user.user.email|e }}</li>
						<li>Profile is public: {% if msgphp_user.user.profile_is_public %}Yes{% else %}No{% endif %}</li>
						<li>E-mail is public: {% if msgphp_user.user.profile_display_email %}Yes{% else %}No{% endif %}</li>
					</ul>

					{% if msgphp_user.user.profile_is_public %}
						<a href="{{ path('view-profile-public', {username: msgphp_user.user.username}) }}" class="ui-btn ui-corner-all ui-btn-icon-left ui-icon-action">View My Public Profile</a>
					{% endif %}

					<button class="edit-profile ui-btn ui-corner-all ui-btn-icon-left ui-icon-edit">Edit Profile</button>
				</div>
			</div>

			<div class="ui-corner-all profile-panel">
				<div class="ui-bar ui-bar-a">
					<h2>Elite</h2>
				</div>
				<div class="ui-body ui-body-a">
					<ul>
						{% if date(msgphp_user.user.elite_expires) > date() %}
							<li>Elite User (through {{ msgphp_user.user.elite_expires|date("Y-m-d") }})</li>
						{% else %}
							<li>Regular User
								{% if date(msgphp_user.user.elite_expires) > date('-2years') %}
									(Elite expired {{ msgphp_user.user.elite_expires|date("Y-m-d") }})
								{% endif %}
							</li>
						{% endif %}

						{% if msgphp_user.user.patreon_id %}
							<li>Patreon User: <a href="{{ msgphp_user.user.patreon_data['attributes']['url'] }}"> {{ msgphp_user.user.patreon_data['attributes']['vanity'] }}</a></li>
							<li>Patreon Name: {{ msgphp_user.user.patreon_data['attributes']['full_name'] }}</li>
							<li>Patreon ID: {{ msgphp_user.user.patreon_id }}</li>
						{% endif %}
					</ul>

					{% if msgphp_user.user.patreon_id %}
						<a href="{{ patreonLoginURL }}" class="ui-btn ui-corner-all ui-btn-icon-left ui-icon-recycle">Update Patreon Account</a>
						<a href="{{ path('remove-patreon') }}" class="ui-btn ui-corner-all ui-btn-icon-left ui-icon-delete">Remove Patreon Account</a>
					{% else %}
						<a href="{{ patreonLoginURL }}" class="ui-btn ui-corner-all ui-btn-icon-left ui-icon-cloud">Connect Patreon Account</a>
					{% endif %}
				</div>
			</div>

			<div class="ui-corner-all profile-panel">
				<div class="ui-bar ui-bar-a">
					<h2>Locations</h2>
				</div>
				<div class="ui-body ui-body-a">
					{% if msgphp_user.user.profile_is_public %}
						{% if locations %}
						<ul class="profile-locations">
							{% for location in locations %}
								<li>
									<div class="location-map">
										<div id="map_{{location.id}}" class="ui-corner-all"></div>
									</div>
									<div class="location-info">
										<div class="loc-info-main">
											<h3>{{location.name|e}}</h3>
											<p>{{location.description|e}}</p>

											<script>
											$(document).on("pagecontainershow", function(event, ui) {
												var mymap = L.map('map_{{location.id}}', {
														zoomControl: false,
														attributionControl: false,
														boxZoom: false,
														doubleClickZoom: false,
														scrollWheelZoom: false,
														touchZoom: false,
														keyboard: false,
														dragging: false
													}).setView([
														{{ location.geo_latitude }},
														{{ location.geo_longitude }}
													], 11);

												var Stamen_Terrain = L.tileLayer('http://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.{ext}', {
													attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
													subdomains: 'abcd',
													minZoom: 0,
													maxZoom: 15,
													ext: 'png'
												});

												Stamen_Terrain.addTo(mymap);

												var group = new L.featureGroup();

												if (!isNaN({{ location.radius }})) {
													L.circle( [ {{ location.geo_latitude }}, {{ location.geo_longitude }} ],
														{
															radius: {{ location.radius }} * 1609.34,
															color: '{{ msgphp_user.user.profile_color ?? "#880000" }}',
															opacity: 0.9,
															fillOpacity: 0.1,
															weight: 1
														}
													).addTo(group);
												}

												L.marker(
													[
														{{ location.geo_latitude }},
														{{ location.geo_longitude }}
													],
													{icon:
														L.divIcon({
															html: getIcon('{{ msgphp_user.user.profile_icon ?? "frame" }}', '{{ msgphp_user.user.profile_color ?? "#880000" }}'),
															iconSize: [36, 36],
															iconAnchor: [21, 18],
															popupAnchor: [0, -12]
														})
													},
												).addTo(group);

												group.addTo(mymap);

												mymap.fitBounds(group.getBounds());
											});
											</script>
										</div>
										<div class="location-actions">
											<a href="edit-location/{{location.id}}" class="ui-btn ui-corner-all ui-btn-icon-left ui-icon-edit ui-mini">Edit</a>
											<a href="remove-location/{{location.id}}" class="ui-btn ui-corner-all ui-btn-icon-left ui-icon-delete ui-mini">Remove</a>
										</div>
									</div>
								</li>
							{% endfor %}
						</ul>
						{% else %}
							<p>No locations defined.</p>
						{% endif %}

						{% if under_max_locations %}
							<a href="edit-location/new" class="add-location ui-btn ui-corner-all ui-btn-icon-left ui-icon-plus">Add Location</a>
						{% endif %}
					{% else %}
						<p>Locations are only visible on public profiles.</p>
					{% endif %}
				</div>
			</div>

		{% else %}
			<p>The commander's network requires users to log in.</p>
			<p>Registration is free and open to all.</p>

			<p><a href="{{ path('login') }}" rel="external">Log in</a> or <a href="{{ path('register') }}" rel="external">Register</a></p>
		{% endif %}
	</div>

	<div data-role="popup" id="command-edit-profile" data-overlay-theme="b" data-theme="b" data-transition="pop" data-history="false" data-ajax="false">
		<div data-role="header">
			<h1>Edit Profile</h1>
		</div>

		<div role="main" class="ui-content">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}

			<p><a href="#" data-rel="back" class="ui-btn ui-corner-all">Cancel</a></p>
		</div>
	</div>
</div>
{% endblock %}

{% block footer_scripts %}
{{ include('locations.js.twig') }}
{% endblock %}
