<div data-role="page" id="rules-reference">
	<div data-role="header" data-position="fixed" data-tap-toggle="false">
		<h1>Rules of Engagement</h1>
		<a href="#nav-panel" class="ui-btn-left ui-btn ui-corner-all ui-btn-icon-notext ui-icon-bars">Navigation</a>
	</div>
	<div role="main" class="ui-content">
		<h2>Quick Reference</h2>
		<ul data-role="listview" data-inset="true">
			<li><a href="#ref_quick_hit-chart">Hit Chart</a></li>
			<li><a href="#ref_quick_turn-order">Turn Order</a></li>
			<li><a href="#ref_frame_turn-sequence">Turn Sequence</a></li>
			<li><a href="#ref_prep_frame-systems">Frame systems</a></li>
			<li><a href="#ref_play_capture-stations">Capturing &#38; Contested stations</a></li>
			<li><a href="#ref_quick_example-assignment">Example Dice Assignment</a></li>
			<li><a href="#ref_quick_example-attack">Example attack</a></li>
			<li><a href="#ref_other_demo">Demo games</a></li>
		</ul>
		<h2>Full Rules</h2>
		<div data-role="collapsible-set" data-expanded-icon="carat-d" data-collapsed-icon="carat-r">
			<div data-role="collapsible">
				<h3>Preparations</h3>
				<ul data-role="listview" data-theme="b">
					<li><a href="#ref_prep_materials">Materials</a></li>
					<li><a href="#ref_prep_ruler">Ruler, Units, and Measuring</a></li>
					<li><a href="#ref_prep_area">Game Area</a></li>
					<li><a href="#ref_prep_game-size">Company Size</a></li>
					<li><a href="#ref_prep_dice">Dice Assignments</a></li>
					<li><a href="#ref_prep_frame-actions">Frame Actions</a></li>
					<li><a href="#ref_prep_frame-systems">Frame Capabilities (Systems, SSR, Sprinting)</a></li>
					<li><a href="#ref_prep_stations">Stations</a></li>
					<li><a href="#ref_prep_ranges">Range Designations</a></li>
					<li><a href="#ref_what-is_scale">Frame Construction Requirements</a></li>
					<li><a href="#ref_prep_terrain">Terrain and Cover</a></li>
				</ul>
			</div>
			<div data-role="collapsible">
				<h3>Gameplay</h3>
				<ul data-role="listview" data-theme="b">
					<li><a href="#ref_play_phases">Phases</a></li>
					<li><a href="#ref_play_bidding">Bidding Phase</a></li>
					<li><a href="#ref_play_ppa">Assets, PPA, &amp; Score</a></li>
					<li><a href="#ref_play_deploy_positions">Deployment Phase &amp; Tactical Position</a></li>
					<li><a href="#ref_play_deployment">Deployment Process</a></li>
					<li><a href="#ref_play_combat">Combat Phase</a></li>
					<li><a href="#ref_play_tactical-order">Tactical Order</a></li>
					<li><a href="#ref_play_combat-order">Combat Order</a></li>
					<li><a href="#ref_play_capture-stations">Capturing &#38; Contested stations</a></li>
					<li><a href="#ref_play_doomsday">Doomsday</a></li>
					<li><a href="#ref_play_judgment">Principled Judgment Calls</a></li>
				</ul>
			</div>
			<div data-role="collapsible">
				<h3>Frame Activation</h3>
				<ul data-role="listview" data-theme="b">
					<li><a href="#ref_frame_turn-sequence">Turn Sequence</a></li>
					<li><a href="#ref_frame_target">Designate a Target</a></li>
					<li><a href="#ref_frame_roll-dice">Roll Dice</a></li>
					<li><a href="#ref_frame_defense">Assign Defense</a></li>
					<li><a href="#ref_frame_moving">Move</a></li>
					<li><a href="#ref_frame_attacking">Attack</a></li>
					<li><a href="#ref_frame_spotting">Spot</a></li>
					<li><a href="#ref_frame_resolve-attacks">Resolve Attacks</a></li>
				</ul>
			</div>
			<div data-role="collapsible">
				<h3>Advanced Rules</h3>
				<ul data-role="listview" data-theme="b">
					<li><a href="#ref_optional_split-range">Split-Range Weapons</a></li>
					<li><a href="#ref_optional_elevation">Elevation &#38; Falling Damage</a></li>
					<li><a href="#ref_optional_hazardous">Hazardous Areas</a></li>
					<li><a href="#ref_optional_per-frame-initiative">Per-frame initiative</a></li>
					<li><a href="#ref_optional_drop-white">Dropping Whites for Damage</a></li>
					<li><a href="#ref_optional_jettison">Jettisoning systems</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div data-role="page" id="ref_prep_materials">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Materials</h1>
	</div>
	<div role="main" class="ui-content">
		<p>To play Mobile Frame Zero: Rapid Attack, you will need the following:</p>
		<ul>
			<li>One company of mobile frames per player consisting of 3 to 8 frames, depending on game type and number of players</li>
			<li>1 to 3 stations, depending on number of players</li>
			<li>Assorted terrain pieces used for cover</li>
			<li>An eight-unit game ruler</li>
			<li>A large number of dice, or a simulator (see below)</li>
			<li>A method to track doomsday and scoring (such as this app)</li>
		</ul>

		<h2>Dice</h2>

		<p>If you use physical dice, (which is encouraged,) you will need a large amount. The number needed for a game varies; this list covers the worst-case scenario.</p>
		<ul>
			<li>4&#215; white d6</li>
			<li>1&#215; blue d6 per frame (max 25), plus 1</li>
			<li>1&#215; yellow d6 per frame (max 25)</li>
			<li>4&#215; green d6</li>
			<li>2&#215; green d8</li>
			<li>4&#215; red d6 (8 with split systems)</li>
			<li>8&#215; red d8</li>
			<li>14&#215; d6 of any color</li>
		</ul>

		<p>You can often play with less, but may need to improvise.</p>

		<div class="ref-note"><p>This app contains a simulator for dice rolling as well as tracking for game assets and status. These can be used in place of all physical dice and other physical bookkeeping.</p></div>
	</div>
</div>
<div data-role="page" id="ref_what-is_scale">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Frame Construction Requirements</h1>
	</div>
	<div role="main" class="ui-content">
		<p>Unless you have agreed beforehand, frames must fit inside a box that is 10 studs wide, 10 studs deep and 12 bricks tall. Frames must have removable systems to be able to represent damage. Using LEGO is expected but not required. There are no restrictions on what a frame should look like.</p>

		<p>It is generally accepted that MFZ:RA is played at "7p scale". This means an average human would be 7 LEGO plates tall. Build your frames with this in mind.</p>

		<p>If you want to play with an alternative scale, you will need to let all players know beforehand. Adjust your ruler, the play area, and the size and density of cover proportionally.</p>
	</div>
</div>
<div data-role="page" id="ref_prep_ruler">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Ruler, Units, and Measuring</h1>
	</div>
	<div role="main" class="ui-content">
		<p>A standard ruler is eight units long, with each unit 5 studs in length. Typically, 1&#215;4 click hinge bricks are used as they allow quickly lengthening or shortening the ruler to measure between objects, and routing the ruler around objects.</p>

		<p>All players may make measurements at any time.</p>

		<p>When measuring, use the closest part of each object. The hinge ruler can be placed between to see if it can touch both objects. The effect of using the hinge ruler is that one extra stud of length is added when measuring any distance. In the spirit of the game, this should be accepted as accurate as long as it is applied equally to all measurements.</p>
	</div>
</div>
<div data-role="page" id="ref_prep_area">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Game Area</h1>
	</div>
	<div role="main" class="ui-content">
		<p>Find or mark off a battlefield area that is circular or square, which measures between 4 and 6 ruler lengths at its widest.</p>

		<h2>Smaller &#38; larger fields</h2>
		<p>If you must use an area that is larger, expand your ruler units until the widest part of your play area fits within 4&#8211;6 rulers (of 8 units).</p>
		<p>To use a smaller area, reduce your ruler to 6 units.</p>
	</div>
</div>
<div data-role="page" id="ref_prep_dice">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Dice Assignments</h1>
	</div>
	<div role="main" class="ui-content">
		<table class="ref-table">
			<thead>
				<tr>
					<th>Dice</th>
					<th>Usage</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>White d6</td>
					<td>Wild</td>
				</tr>
				<tr>
					<td>Red d6 &#38; d8</td>
					<td>Attack</td>
				</tr>
				<tr>
					<td>Yellow d6</td>
					<td>Spotting</td>
				</tr>
				<tr>
					<td>Green d6 &#38; d8</td>
					<td>Movement</td>
				</tr>
				<tr>
					<td>Blue d6</td>
					<td>Defense</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div data-role="page" id="ref_prep_game-size">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Company Size</h1>
	</div>
	<div role="main" class="ui-content">
		<p>Decide before you get together whether you will play a Skirmish or Battle. A Skirmish is a shorter game than a Battle. Assemble the appropriate number of frames and stations for the game you will play.</p>

		<h2>Skirmish</h2>
		<table class="ref-table">
			<thead>
				<tr>
					<th>Players</th>
					<th>Stations (ea.)</th>
					<th>Frames for Skirmish (ea.)</th>
					<th>Frames for Battle (ea.)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>2</td>
					<td>3</td>
					<td>4&#8211;6</td>
					<td>5&#8211;8</td>
				</tr>
				<tr>
					<td>3</td>
					<td>2</td>
					<td>3&#8211;5</td>
					<td>4&#8211;7</td>
				</tr>
				<tr>
					<td>4</td>
					<td>2</td>
					<td>3&#8211;4</td>
					<td>4&#8211;6</td>
				</tr>
				<tr>
					<td>5</td>
					<td>1</td>
					<td>3&#8211;4</td>
					<td>3&#8211;5</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div data-role="page" id="ref_prep_frame-actions">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Frame Actions</h1>
	</div>
	<div role="main" class="ui-content">
		<p>Each frame begins its turn by determining the dicepool it will use. A player assigns dice from this pool in order to take action. Every frame starts with 2 white dice. These represent the frame itself and its pilot. Every frame has four actions it is capable of taking. The baseline actions that any frame may take are:</p>

		<ul>
			<li>Defend</li>
			<li>Move (navigating around cover)</li>
			<li>Attack at hand-to-hand range</li>
			<li>Spot a target which is out of cover and within direct-fire or hand-to-hand range</li>
		</ul>

		<p>A frame&#8217;s capabilites may be extended by various methods (systems, single-shot rockets, and sprinting) which provide additional dice to the pool. In each case, these extensions are restricted to being assigned to specific actions.</p>

		<p>Each action can be taken once per turn. A player may not have enough dice in the pool to take all four actions and will need to choose which to perform.</p>
	</div>
</div>
<div data-role="page" id="ref_prep_frame-systems">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Frame Capabilities (Systems, SSR, Sprinting)</h1>
	</div>
	<div role="main" class="ui-content">
		<p>A framee&#8217;s capabilities my be extended by systems, single-shot rockets, and sprinting. A frame may lose systems or the ability to roll one of its white dice when taking damage.</p>

		<h2>Available Systems</h2>

		<p>Before the game begins, add up to 4 systems to each frame in your company. The systems you choose alter your frames capabilities and available dice.</p>

		<p>There are 6 types of systems. A frame may not have more than two systems of the same type.</p>

		<h3>Defense</h3>
		<table class="ref-table">
			<thead>
				<tr>
					<th>#</th>
					<th>Dice Added</th>
					<th>Effect</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>0</td>
					<td>None</td>
					<td></td>
				</tr>
				<tr>
					<td>1</td>
					<td>1 blue d6</td>
					<td></td>
				</tr>
				<tr>
					<td>2</td>
					<td>2 blue d6</td>
					<td>When providing cover to another frame, this frame does not take damage</td>
				</tr>
			</tbody>
		</table>
		<p>Examples: armor, shield, camouflage, ECM</p>

		<h3>Movement</h3>
		<table class="ref-table">
			<thead>
				<tr>
					<th>#</th>
					<th>Dice Added</th>
					<th>Effect</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>0</td>
					<td>None</td>
					<td>Frame must navigate around cover (unless sprinting applies)</td>
				</tr>
				<tr>
					<td>1</td>
					<td>1 green d6</td>
					<td>May move through or stand atop cover</td>
				</tr>
				<tr>
					<td>2</td>
					<td>2 green d6</td>
					<td>May move through or stand atop cover</td>
				</tr>
			</tbody>
		</table>
		<p>Examples: jump-jets, wings, wheels, quad-legs</p>

		<h3>Spotting</h3>
		<table class="ref-table">
			<thead>
				<tr>
					<th>#</th>
					<th>Dice Added</th>
					<th>Effect</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>0</td>
					<td>None</td>
					<td>May spot one target within direct-fire or hand-to-hand range that is not in cover</td>
				</tr>
				<tr>
					<td>1</td>
					<td>1 yellow d6</td>
					<td>May spot one target within direct-fire or hand-to-hand range (including those in cover)</td>
				</tr>
				<tr>
					<td>2</td>
					<td>2 yellow d6</td>
					<td>May spot one target anywhere</td>
				</tr>
			</tbody>
		</table>
		<p>Examples: radio, targeting laser, spotlights, rifle scope</p>

		<h3>Hand-to-hand weapons</h3>
		<table class="ref-table">
			<thead>
				<tr>
					<th>#</th>
					<th>Dice Added</th>
					<th>Effect</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>0</td>
					<td>None</td>
					<td></td>
				</tr>
				<tr>
					<td>1</td>
					<td>2 red d6</td>
					<td>Usable only at hand-to-hand range (1 unit)</td>
				</tr>
				<tr>
					<td>2</td>
					<td>2 red d6 and 1 red d8</td>
					<td>Usable only at hand-to-hand range (1 unit)</td>
				</tr>
			</tbody>
		</table>
		<p>Examples: shock baton, combat knife, repurposed jackhammer</p>

		<h3>Direct-fire weapons</h3>
		<table class="ref-table">
			<thead>
				<tr>
					<th>#</th>
					<th>Dice Added</th>
					<th>Effect</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>0</td>
					<td>None</td>
					<td>Frame may only attack in direct-fire range if using a single-shot rocket</td>
				</tr>
				<tr>
					<td>1</td>
					<td>2 red d6</td>
					<td>Usable only at direct-fire range (between 1 unit and 1 ruler)</td>
				</tr>
				<tr>
					<td>2</td>
					<td>2 red d6 and 1 red d8</td>
					<td>Usable only at direct-fire range (between 1 unit and 1 ruler)</td>
				</tr>
			</tbody>
		</table>
		<p>Examples: assault rifle, grenade launcher, flamethrower, beam weapon</p>

		<h3>Artillery weapons</h3>
		<table class="ref-table">
			<thead>
				<tr>
					<th>#</th>
					<th>Dice Added</th>
					<th>Effect</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>0</td>
					<td>None</td>
					<td>Frame may not attack at artillery range</td>
				</tr>
				<tr>
					<td>1</td>
					<td>2 red d6</td>
					<td>Usable only at artillery range (beyond 1 ruler)</td>
				</tr>
				<tr>
					<td>2</td>
					<td>2 red d6 and 1 red d8</td>
					<td>Usable only at artillery range (beyond 1 ruler)</td>
				</tr>
			</tbody>
		</table>
		<p>Examples: mortar, sniper rifle, railgun</p>

		<h2>Single Shot Rockets</h2>
		<p>Before the game, add 3 single-shot rockets (SSR) to your company. Attach them to your frames in any configuration: All three on a single frame, one frame with two and one frame with one, or three frames with one each.</p>

		<table class="ref-table">
			<thead>
				<tr>
					<th>Dice Added</th>
					<th>Effect</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1 red d8 when used</td>
					<td>Usable only at direct-fire range<br />
					Single-shot; discard after use</td>
				</tr>
			</tbody>
		</table>
		<p>Examples: Hand grenade, rocket pod, under-barrel grenade launcher</p>

		<p>Using an SSR allows a frame to attack at direct-fire range even if it does not carry a direct-fire weapon. A single frame can carry all three of these, if you so choose. SSRs do not count as systems and cannot be destroyed. Any SSRs remaining on a frame when it is destroyed are not usable or recoverable.</p>

		<h2>Sprinting</h2>
		<p>Any frame that has no ranged weapons systems (direct-fire or artillery) receieves an additional d8 to its dice pool. Sprinting provides the benfit of moving through or standing atop cover. This is not a system and cannot be destroyed. A frame that has had all of its ranged weapon systems destroyed gains this benefit for its next turn. SSRs do not prevent sprinting since they do not count as systems.</p>
	</div>
</div>
<div data-role="page" id="ref_prep_ranges">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Range Designations</h1>
	</div>
	<div role="main" class="ui-content">
		<p>Ranges map directly to the ruler and its units.</p>
		<ul>
			<li>Hand-to-hand: up to 1 unit</li>
			<li>Direct-fire: beyond 1 unit, but inside 1 ruler length</li>
			<li>Artillery: beyond 1 ruler length</li>
		</ul>

		<p>Ranges are exclusive. For example, artillery may only be used on targets beyond one ruler length. If there is a question about whether an object is in a given range, consider the object to be in range.</p>
	</div>
</div>
<div data-role="page" id="ref_prep_stations">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Stations</h1>
	</div>
	<div role="main" class="ui-content">
		<p>Stations represent valuable assets or locations, and are worth points for controlling. Stations do not count as cover and cannot be targeted or destroyed. A station:</p>

		<ul>
			<li>is distinct from cover and other terrain</li>
			<li>has a location to attach a flag or marker</li>
			<li>is no larger than 4&#215;4 studs wide</li>
		</ul>

		<p>Examples: cache of medical supplies, civilian scientist and family, research facility&#8217;s data storage drives, truck with a flat tire and a load of fresh peaches.</p>

		<div class="ref-hint"><p>If you want to use something with a larger base, discuss this with your group. Place it on the field like cover and other terrain during the setup phase and designate one or more 4&#215;4 stud areas that can be used as a station: a doorway for a building or a control terminal, perhaps. The rest of the piece is regular terrain or cover. Keep in mind that cover can be targeted and destroyed, while stations cannot.</p>
		<p>During deployment, any player may claim this as a station instead of placing one when they have opportunity to do so. If no player claims it, use it as normal terrain or cover.</p></div>
	</div>
</div>
<div data-role="page" id="ref_prep_terrain">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Terrain and Cover</h1>
	</div>
	<div role="main" class="ui-content">
		<p>Before the game, build several pieces of terrain. Terrain can be anything at all, but often cosists of walls, buildings, and vegetation. Imagination is encouraged.</p>

		<p>Any terrain on the battlefield is used as cover if it is at least 3 bricks high. Frames that have not been destroyed are also used as cover, regardless of ownership. Stations do not provide cover.</p>

		<p>Frames automatically use nearby cover when attacked. A target frame counts as being in cover to an attacking frame, if:</p>
		<ul>
			<li>it is within 1 unit range of the cover</li>
			<li>the cover is between target and attacker</li>
		</ul>
		<p>Ignore terrain pieces further away than 1 unit of the target, even if they are between the target and attacker.</p>

		<p>Terrain that is less than 3 bricks in height is no longer relevant. It cannot be used as cover and does not require frames to navigate around.</p>

		<div class="ref-hint"><p>Because terrain is damaged by removing a certain number of pieces, the number of pieces you use (at or above 3 bricks high) determine its durability. Terrain built from many small pieces will provide cover longer than terrain made from a few large pieces. Terrain which can absorb three hits and still be used for cover is generally considered very durable.</p></div>

		<div class="ref-note"><p>Advanced players often consider individual bricks for the purpose of cover instead of entire terrain pieces. This diverges from rules as written, but many players find it perferable.</p></div>
	</div>
</div>
<div data-role="page" id="ref_play_phases">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Phases</h1>
	</div>
	<div role="main" class="ui-content">
		<p>MFZ:RA is played across three phases: bidding, deployment and combat. You must construct your frame company (frames, systems, and stations) <strong>before</strong> you play. Keep your company hidden from other players.</p>

		<p>The game begins in the bidding phase, when each player's company is revealed to the other players. Based on the results of bidding, players begin deployment from different tactical positions. The final phase, combat, makes up the bulk of the game and determines the winner.</p>
	</div>
</div>
<div data-role="page" id="ref_play_bidding">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Bidding Phase</h1>
	</div>
	<div role="main" class="ui-content">
		<p>The game opens with the bidding phase.</p>
		<ul>
			<li>Compare the number of frames and systems within each company</li>
			<li>Determine each company&#8217;s PPA</li>
			<li>Determine each company&#8217;s starting score</li>
			<li>Resolve ties</li>
		</ul>

		<p>Smaller companies gain a points advantage to balance their lesser strength.</p>
	</div>
</div>
<div data-role="page" id="ref_play_ppa">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Assets, PPA, &amp; Score</h1>
	</div>
	<div role="main" class="ui-content">
		<p>Frames and stations are assets. <strong>Your score at any time is the number of assets you control multiplied by your points per asset (PPA) value.</strong> You are not eliminated from the game if you lose all of your frames; your stations still count toward your score unless they are captured. While extremely unlikely, it is technically possible to win with no frames remaining.</p><

		<p>Determine PPA only once, during the bidding phase. Every company starts with a value of 5. From here, apply the following modifiers:</p>
		<table class="ref-table">
			<thead>
				<tr>
					<th>Company has&#8230;</th>
					<th>Effect</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>most frames</td>
					<td>-1 PPA</td>
				</tr>
				<tr>
					<td>most systems</td>
					<td>-1 PPA</td>
				</tr>
				<tr>
					<td>least frames</td>
					<td>+1 PPA</td>
				</tr>
				<tr>
					<td>least systems</td>
					<td>+1 PPA</td>
				</tr>
			</tbody>
		</table>
		<p>All players which meet each criteria adjust their scores.</p>
		<p>Calculate each player's score and multiply by the number of assets (frames and stations). As the game progresses the number of assets you control may change but your PPA value is never recalculated.</p>

		<div class="ref-calc"><p>Score = Assets &#215; PPA</p></div>

		<p>Your score determines your tactical position At the beginning of the game, and your initiative (the order in which players activate frames) throughout the game.</p>

		<h3>Tie for highest score</h3>
		<p>If two or more players tie for the highest score, a randomly chosen player must make a decision between these options:</p>
		<ul>
			<li>add a frame to their company</li>
			<li>remove a mobile frame from their company</li>
			<li>defer the choice to the next (randomly chosen) tied player</li>
		</ul>
		<p>Not all of these options may be available. A player must remain within the <a href="#ref_prep_game-size">normal minimum and maximum number of frames</a>, and may not defer the choice to someone who has already deferred.</p>

		<p>Restart the bidding phase: compare companies, determining new PPA and score.</p>

		<div class="ref-note"><p>This app will guide you through this process.</p></div>

		<h3>Tie for lowest score</h3>
		<p>If players tie for lowest score, a randomly chosen player must:</p>
		<ul>
			<li>place the point mobile frame</li>
			<li>go last in tactical order, until score changes</li>
		</ul>

		<p>If you plan to bid lower than the maximum number of frames, be sure to bring a spare mobile frame with you in case of a tie.</p>

		<div class="ref-note"><p>This app will handle this automatically.</p></div>
	</div>
</div>
<div data-role="page" id="ref_play_deploy_positions">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Deployment Phase &amp; Tactical Position</h1>
	</div>
	<div role="main" class="ui-content">
		<p>Once players have determined their PPA and initial scores, the deployment phase begins. First, determine your tactical position and initiative order. There are three tactical positions a player can be assigned: Defender, Point Attacker and Secondary Attacker. The score determines which position a player holds:</p>

		<table class="ref-table">
			<thead>
				<tr>
					<th>Player has&#8230;</th>
					<th>Tactical Position</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>&#8230; highest score</td>
					<td>Defender</td>
				</tr>
				<tr>
					<td>&#8230; lowest score*</td>
					<td>Point Attacker</td>
				</tr>
				<tr>
					<td>&#8230; neither</td>
					<td>Secondary Attacker</td>
				</tr>
			</tbody>
		</table>

		<p>*In the event of a tie, one randomly chosen player is the point attacker; others become secondary attackers. See <a href="#ref_play_ppa">Assets, PPA, &amp; Score</a></p>
	</div>
</div>
<div data-role="page" id="ref_play_deployment">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Deployment Process</h1>
	</div>
	<div role="main" class="ui-content">
		<div class="ref-note"><p>This app will guide you through deployment.</p></div>

		<p>Mark off your play area and place your terrain pieces on it. Any player can adjust the battlefield layout. Continue when all players are satsfied.</p>

		<h2>Defense Setup</h2>
		<p>The Defender places their stations wherever they like, each within one ruler length of at least one other station. Everything within one ruler around these stations is the <em>defensive perimeter</em>. Place two frames within this defensive perimeter. Leave at least one third of the battlefield outside the defensive perimeter, and at least one legal position for the Point Frame.</p>

		<h2>Point Frame</h2>
		<p>The Point Attacker places the point frame:</p>
		<ul>
			<li>Out of cover to at least one of the Defender&#8217;s frames</li>
			<li>More than 1 ruler away from all Defender&#8217;s stations Outside the <em>defensive perimeter</em></li>
			<li>At exactly 1 ruler length from one of the Defender&#8217;s frames, in range for (but at the limit of) direct-fire</li>
		</ul>

		<h2>Attackers&#8217; Frames</h2>
		<p>All offensive players alternate, descending by score, frame by frame, until all of their frames are on the field. Frames must be placed at least one ruler away from all of the Defender&#8217;s frames and stations.</p>

		<h2>Attackers&#8217; Stations</h2>
		<p>Attackers alternate again, descending by score, placing stations in a similar way. Stations may be placed anywhere on the field.</p>

		<h2>Defender&#8217;s Other Frames</h2>
		<p>The defender places any remaining frames. Frames placed outside the <em>defensive perimeter</em> must be in cover.</p>
	</div>
</div>
<div data-role="page" id="ref_play_combat">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Combat Phase</h1>
	</div>
	<div role="main" class="ui-content">
		<p>The combat phase is separated into rounds. The number of rounds played is decided by a doomsday clock, which continuously counts and players can accelerate. Doomsday is advanced at the end of each round, and the game is over when doomsday reaches zero. Remove all assigned defense and spot values before beginning a round.</p>

		<p>Within a round, every surviving frame is activated for one turn. The order in which frames are activated is decided by either <em>tactical order</em> or <em>combat order</em>. <em>Tactical order</em> is the default, but is overridden by <em>combat order</em> when a frame is targeted by an attack and reacts to incoming fire. The round ends when there are no frames left to activate.</p>
	</div>
</div>
<div data-role="page" id="ref_play_tactical-order">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Tactical Order</h1>
	</div>
	<div role="main" class="ui-content">
		<p><em>Tactical order</em> is the normal method used to determine which frame activates next.</p>

		<p>The player with the highest score has the initiative, and chooses to activate a frame (take a turn) or pass. If the player passes, the player with the next lower score chooses to activate or pass, and so on. If all players with lower scores have activated all of their frames, a player may not pass and must activate a frame. A player automatically passes if all of his/her own frames have been activated.</p>

		<p>If a frame is attacked that has not yet activated this round, switch to <em>combat order</em>. Otherwise, each time a turn is resolved, the choice to activate returns to the player with the highest score.</p>
	</div>
</div>
<div data-role="page" id="ref_play_combat-order">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Combat Order</h1>
	</div>
	<div role="main" class="ui-content">
		<p><em>Combat order</em> is used when a frame is coming under attack that has not yet activated this round. Otherwise, use <em>tacitcal order</em>. The defending frame is only activated if it actually needs to assign a defense value: the attacker is in range and has assigned an attack value.</p>

		<p>In <em>combat order</em>, the defender begins a turn before the attacker&#8217;s turn is finished:</p>
		<ul>
			<li><em>Attacker</em> takes a turn normally up until they are in range for an attack and have assigned an attack value</li>
			<li><em>Defender</em> names a target, rolls dice, and assigns a defense value</li>
			<li><em>Attacker</em> finishes turn (movement and spotting are possible)</li>
			<li><em>Defender</em> continues his/her turn</li>
		</ul>
		<p>In this process, the defending frame is activated. Once the attacker&#8217;s turn is completed, the defender continues its turn normally, including movement, attacks, and spotting. If this frame chooses to make an attack, it may become an attacker and need to pause its turn again for the new defender. This can create a chain of activations that carries through many players and frames. When a frame does not attack a frame that is not yet activated, return to tactical order.</p>

		<p>A frame that is destroyed does not get to continue its turn.</p>
	</div>
</div>
<div data-role="page" id="ref_play_capture-stations">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Capturing &#38; contested stations</h1>
	</div>
	<div role="main" class="ui-content">
		<p>A station is an asset. Players control their own stations when they are deployed, and can capture control of other stations on the field. Capturing stations increases a player&#8217;s score</p>

		<p>Update scores whenever a station is gained or lost, as this may lead to changes in <em>tactical order</em>.</p>

		<h2>Capturing stations</h2>

		<p>At any time and for any reason:</p>
		<ul>
			<li>You gain control of a station when you have a frame within 1 unit of the station <strong>and</strong> no other players have a frame within 1 unit of that station.</li>
			<li>You lose control of a station when any other player has a frame within 1 unit of the station <strong>and</strong> you do not have a frame within 1 unit of the station.</li>
		</ul>

		<p>Otherwise, stations do not change hands&#8212;even if a player&#8217;s frames are destroyed. You must be stopped to capture or hold a station; you cannot capture a station by passing near it during your movement action.</p>

		<h2>Contested stations</h2>

		<p>In a game with three or more players, it&#8217;s possible for a station to be lost without also being captured. This happens when:</p>
		<ol>
			<li>A player has a frame within 1 unit of a station he/she controls</li>
			<li>Two or more opponents move a frame within the 1-unit capture range</li>
			<li>The controlling player&#8217;s frame moves away or is destroyed</li>
		</ol>

		<p>This results in immediate loss of control of the station. However, control cannot be claimed by either opponent. The station can only be controlled again when only one company has frames within capture range.</p>
	</div>
</div>
<div data-role="page" id="ref_play_doomsday">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Doomsday</h1>
	</div>
	<div role="main" class="ui-content">
		<p>The length of the game is determines by the Doomsday Clock. After each round, Doomsday counts down automatically and each player may choose to accelerate it.</p>

		<p>The Doomsday Clock starts at 11. When a round ends, count down Doomsday by one. Then, each player in order from highest to lowest score, is given an opportunity to count down the clock by an additional point. When Doomsday reaches zero, the game ends.</p>

		<p>If you lose all of your frames, you may still count down the doomsday clock.</p>

		<p>The player with the highest score wins. In the event of a tie, the game does not go to overtime or use any secondary method to resolve them&#8212;it simply ends in a tie.</p>
	</div>
</div>
<div data-role="page" id="ref_play_judgment">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Principled Judgment Calls</h1>
	</div>
	<div role="main" class="ui-content">
		<p>If a situation is unclear, favor the outcome intended by the player taking the action. In detail, when a measurement is close:</p>
		<ul>
			<li>Attack &amp; Spot: consider the target to be within the attacker&#8217;s/spotter&#8217;s desired range.</li>
			<li>Moving: allow the frame to move to that position</li>
			<li>Defense: consider the defender to be in cover (the defender is taking the action here)</li>
		</ul>

	</div>
</div>
<div data-role="page" id="ref_frame_turn-sequence">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Turn Sequence</h1>
	</div>
	<div role="main" class="ui-content">
		<p>When a frame is activates, its turn follows a given sequence:</p>
		<ol>
			<li><a href="#ref_frame_target">Designate a Target</a></li>
			<li><a href="#ref_frame_roll-dice">Roll Dice</a></li>
			<li><a href="#ref_frame_defense">Assign Defense</a></li>
			<li><a href="#ref_frame_moving">Move</a> and <a href="#ref_frame_attacking">Attack</a> (in either order)</li>
			<li><a href="#ref_frame_spotting">Spot</a></li>
		</ol>

		<p>Complete each step before moving on to the next. A frame&#8217;s activation may pause as a result of combat, and resumes where it left off.</p>
	</div>
</div>
<div data-role="page" id="ref_frame_target">
	<div data-role="header" data-add-back-btn="true">
		<h1>Designate a Target</h1>
	</div>
	<div role="main" class="ui-content">
		<p>Name a target for this frame&#8217;s attack. You may target an opponent frame, a piece of terrain, or nothing at all. You may not target a station or any frame you own.</p>
		<p>You must also declare what range you will make the attack from. You do not need to be within that range when you declare the attack, but you must move into it before you can begin attacking. Not all frames are capable of attacking at all ranges. Frames may always attack at hand-to-hand range.</p>
	</div>
</div>
<div data-role="page" id="ref_frame_roll-dice">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Roll Dice</h1>
	</div>
	<div role="main" class="ui-content">
		<p>Determine which dice you have available to roll based on your declared attack range, current systems, frame damage, and any SSRs you choose to use. See <a href="#ref_prep_frame-systems">Frame Capabilities (Systems, SSR, Sprinting)</a>. You may only roll dice for weapon systems in the range you declared. For example, you may not roll for an artillery system if you declared an attack at hand-to-hand range.</p>

		<p>Roll dice for your frame activation all at once. You will assign values from this result in later steps of your activation in order to take actions: defend, attack, move, spot.</p>

		<ul>
			<li>You may only take an action if you assign a die to it</li>
			<li>You may only assign one die for each action</li>
			<li>You may not assign a die to more than one action</li>
			<li>You may only assign a white die or a die of the correct type (See <a href="#ref_prep_dice">Dice Assignments</a>)</li>
		</ul>

		<p>Your roll is public information. You choose to make assignments in later steps, after you see the result of your roll. There is no requirement to assign any dice or take any action. You may not have enough dice available to take every action. Set used dice aside from the pool as you assign them. Unused dice are discarded at the end of your turn.</p>

		<p>If you added any dice to your pool because you chose to use one or more SSRs, discard the rocket from your frame now. Dice added by SSRs are not considered differently from any other red dice in the pool.</p>

		<div class="ref-note">
			<p>See <a href="#ref_quick_example-assignment">Example Dice Assignment</a></p>
		</div>
	</div>
</div>
<div data-role="page" id="ref_frame_defense">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Assign Defense</h1>
	</div>
	<div role="main" class="ui-content">
		<p>If you choose to defend, assign a blue or white die from your pool as your defensive value. This defensive value is never changed or removed until the entire round is over. Place a blue die on the field next to this frame with the value turned upward to help everyone remember this. If you choose not to defend, your defensive value becomes zero. You will not be able to place a die on the table in this case, so use a different kind of marker if you need to. The frame is not given another opportunity to assign defense until the next round.</p>

		<p>If you are currently under attack, pause your activation here until the attacking frame&#8217;s turn has completed.</p>
	</div>
</div>
<div data-role="page" id="ref_frame_moving">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Move</h1>
	</div>
	<div role="main" class="ui-content">
		<p>If you choose to move, assign a green or white die from your pool as your movement value. You may move any distance not exceeding this number in ruler units.</p>

		<p>If you did not roll a green die, you must navigate around any object providing cover (terrain and frames; see <a href="#ref_prep_terrain">Terrain and Cover</a>). This will limit the effective distance you can travel.</p>

		<p>If you rolled a green die, you may ignore cover while moving and measure directly to your desired endpoint. Rolling a green die also allows you to stand on top of cover. Standing on frames is permitted. Frames do not prohibit others them from moving. When a lower frame moves, keep the upper frame in the same X/Y location.</p>

		<div class="ref-reminder"><p>Movement systems each provide a green die that unlocks these capabilities. Sprinting also provides a green die. See <a href="#ref_prep_frame-systems">Frame Capabilities (Systems, SSR, Sprinting)</a>.</p></div>
	</div>
</div>
<div data-role="page" id="ref_frame_attacking">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Attack</h1>
	</div>
	<div role="main" class="ui-content">
		<p>You may only attack the target you previously designated, but you are not required to. Your attack must be made from the declared range; if you are not within that range you are unable to attack. (If you have not yet used your movement action, consider doing so to position yourself within your desired range.) Do not consider line of sight when making an attack. If you are within range and you choose to attack, assign a red or white die from your pool as your attack value.</p>

		<p>You only attack when you assign a value from your pool. You cannot assign a value of zero. You cannot abort an attack once assigned.</p>

		<p>If you attack a frame that has already activated or if you attack cover, resolve the attack now. Attacking a frame that has not yet activated will cause it to activate next. (See <a href="#ref_play_combat-order">Combat Order</a>.) Pause your turn here until the target frame has a defense value, then resolve the attack. (See <a href="#ref_frame_resolve-attacks">Resolve Attacks</a>.)</p>
	</div>
</div>
<div data-role="page" id="ref_frame_spotting">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Spot</h1>
	</div>
	<div role="main" class="ui-content">
		<p>Any frame may spot another frame within one ruler length that is out of cover, but your frame may be capable of spotting frames in cover and frames anywhere on the field. Take a look at the field and your <a href="#ref_prep_frame-systems">Frame Capabilities</a> to determine if you are capable of spotting. If you are able and you choose to spot, assign a yellow or white die from your pool as your spot value. Place a yellow die on the field next to the spotted frame with the value turned upward to help everyone remember this.</p>

		<p>Only opponent frames may be spotted. Terrain and stations cannot be spooted. The frame you spot does not need to be the same frame you attacked. You do not need to declare your spot beforehand. A frame may not have multiple spot values. If the frame you wish to spot already has a spot value, you may replace it if the new value is greater.</p>

		<p>Spotting is always the last step in your activation; you may not spot before you attack.</p>
	</div>
</div>
<div data-role="page" id="ref_frame_resolve-attacks">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Resolving Attacks</h1>
	</div>
	<div role="main" class="ui-content">
		<h2>Get Defense and Spot Values</h2>
		<p>First, make sure your target has a defense value. A frame that has not yet activated this round does so now. A frame that has activated but chooses not to defend has a value of zero. The defense value of terrain is always zero.</p>

		<p>Next, if the target has been spotted, choose whether to add the spot value to your attack. If you do, remove the spot marker die from the field. Anyone can use a spot placed by anyone else. Terrain cannot be spotted.</p>

		<div class="ref-note"><p>The target frame&#8217;s spot value is removed from the field, but the target frame&#8217;s defense value remains.</p></div>

		<h2>Calculate and Assemble Damage Pool</h2>
		<p>Next, determine how many damage dice you will roll. Damage dice are always D6, rolled and consulted immediately, then discarded. Use any dice that are available regardless of color. (Or, use this app&#8217;s simulator.) Pick up the number of dice equal to your assigned attack value. If you choose to use a target&#8217;s spot, add the number of dice equal to that value. Finally, subtract a number of dice equal to the defense value of the target.</p>

		<div class="ref-calc"><p>Damage Dice = Attack + Spot - Defense</p></div>

		<p>If you do not have any dice left after subtracting defense, the attack misses and is now resolved. Otherwise, roll the damage pool now. Do this separately from any frame activation dice so they do not mingle and become confused.</p>

		<h2>Determine Current Situation</h2>

		<p>Check whether the target is in cover. (See <a href="#ref_prep_terrain">Terrain and Cover</a>.) Terrain is never considered to be in cover. How you apply damage depends on the target type, range, and value of each damage die.</p>

		<table class="ref-table">
			<thead>
				<tr>
					<th>Target Type</th>
					<th>Range</th>
					<th>Covered by</th>
					<th>Hits Cover</th>
					<th>Hits Target</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td rowspan="4">Frame</td>
					<td rowspan="3">Direct-fire or artillery</td>
					<td>Terrain</td>
					<td>4 &amp; 5</td>
					<td>6</td>
				</tr>
				<tr>
					<td>Frame</td>
					<td>5*</td>
					<td>6</td>
				</tr>
				<tr>
					<td>None</td>
					<td>-</td>
					<td>5 &amp; 6</td>
				</tr>
				<tr>
					<td>Hand-to-hand</td>
					<td>N/A</td>
					<td>-</td>
					<td>4, 5 &amp; 6</td>
				</tr>
				<tr>
					<td>Terrain</td>
					<td>Any</td>
					<td>N/A</td>
					<td>-</td>
					<td>4, 5 &amp; 6</td>
				</tr>
			</tbody>
		</table>

		<p>*A frame with two defensive systems is not hit.</p>

		<p>See <a href="#ref_quick_hit-chart">Hit Chart</a> for a graphic representation.</p>

		<p>Resolve each damage die one at a time, beginning with the lowest value and working upward. If cover is destroyed, apply the remaining damage dice per the new situation.</p>

		<h2>Applying Hits</h2>

		<p>When a hit connects, take any removed bricks from terrain, systems, or frames, and drop them onto the battlefield.</p>

		<h3>Terrain</h3>
		<p>For each hit to terrain, remove 6 bricks from it. The attacker chooses which to remove, but may not remove bricks that have others stacked on top of them.</p>

		<h3>Frame</h3>
		<p>If the target frame is currently within one unit of a station it controls, the defender may choose to move the frame directly away from the station until it is immediately outside the range to hold the station (1 unit) instead of taking a hit. This can only be done once per attack.</p>

		<p>For each hit to a frame, remove one system. This system is destroyed and does not provide any benefits in future rounds.	However, if the target frame is in the middle of its activation when it is hit, it may still use the destroyed system for this round (as long as the entire frame is not destroyed).</p>

		<p>If a frame has no systems, the frame itself is damaged. This causes the loss of one of its white dice for all future rolls.</p>

		<p>If both white dice are lost, the frame is destroyed. It no longer counts as an asset for its owner and cannot be activated again. Recalculate the score.</p>
	</div>
</div>
<div data-role="page" id="ref_quick_example-assignment">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Example Dice Assignment</h1>
	</div>
	<div role="main" class="ui-content">
		<p>A frame with the loadout of
		<span class="sys-display"><span data-sys="w">W</span><span data-sys="w">W</span><span data-sys="rh">Rd</span><span data-sys="b">B</span><span data-sys="g">G</span></span> rolls:</p>
		<ul class="roll-display "><li data-die="w6" data-type="w">3</li><li data-die="w6" data-type="w">5</li><li data-die="r6" data-type="r">3</li><li data-die="r6" data-type="r">5</li><li data-die="b6" data-type="b">4</li><li data-die="g6" data-type="g">2</li></ul>

		<p>First, the player must assign defense. The player can choose either the blue <span data-die="b6" data-type="b">4</span> or one of the whites <span data-die="w6" data-type="w">3</span><span data-die="w6" data-type="w">5</span>. The player chooses the <span data-die="b6" data-type="b">4</span>. It is assigned to defense and placed on the table near the frame.</p>

		<p>Next, the player can choose to attack or move. The player chooses to move first, and must choose a die for its movement: the green <span data-die="g6" data-type="g">2</span> or one of the whites <span data-die="w6" data-type="w">3</span><span data-die="w6" data-type="w">5</span>. The player needs to move to get in range of its target, and chooses the <span data-die="w6" data-type="w">5</span>. It can now move up to 5 ruler units. The <span data-die="w6" data-type="w">5</span> has been assigned and cannot be used for additional actions. The green <span data-die="g6" data-type="g">2</span> can be discarded now because it is only usable for movement.</p>

		<p>The player now makes an attack and can choose red <span data-die="r6" data-type="r">3</span> or <span data-die="r6" data-type="r">5</span>, or white <span data-die="w6" data-type="w">3</span>. The player chooses <span data-die="r6" data-type="r">5</span>. The red <span data-die="r6" data-type="r">3</span> can be discarded.</p>

		<p>Finally, the player may choose a spot. The frame does not have a spot (yellow) system, so only the white <span data-die="w6" data-type="w">3</span> is available to be assigned. The player is not required to use it.</p>

		<p>The turn is over, and any remaining dice are now discarded.</p>
	</div>
</div>
<div data-role="page" id="ref_quick_example-attack">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Example Attack</h1>
	</div>
	<div role="main" class="ui-content">
		<p>One of Joshua&#8217;s frames is coming under attack by ranged fire. It has already been spotted by one Sebastian&#8217;s frames and now one of Vincent&#8217;s frames is firing. Luckily, it is in cover.</p>
		<ul>
			<li>Joshua&#8217;s defense: 6</li>
			<li>Vincent&#8217;s attack: 4</li>
			<li>Sebastian&#8217;s spot: 5</li>
			<li>4 + 5 - 6 = 3 damage dice</li>
			<li>Vincent rolls damage dice: 1, 4, 5</li>
			<li>The hit chart for a target in cover is used; the 1 has no effect</li>
			<li>The 4 is resolved next, hitting the cover</li>
			<li>Vincent removes 6 bricks, which is enough that this terrain can no longer be used as cover</li>
			<li>The hit chart for a target outside of cover is now used; the 5 damages Joshua&#8217;s frame</li>
			<li>Joshua must choose a system to remove from his frame</li>
		</ul>
	</div>
</div>
<div data-role="page" id="ref_optional_split-range">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Split-Range Weapons</h1>
	</div>
	<div role="main" class="ui-content">
		<div class="ref-note"><p>All players must agree which advanced rules will be used before play begins, and ideally before creating a company. Advanced rules are enabled for this app through the settings from the main page.</p></div>

		<p>A weapon system may be split between two ranges. For the purpose of frame construction, a split-range system counts as two half-systems, one of each type. You still may not exceed more than two total systems of each type.</p>
		<p>Each half of the split-range system provides one red d6 in the appropriate range. If you use any split-range systems, you cannot gain the red d8 for having a second full system.</p>
		<p>When a split-range system is destroyed, you lose the entire system.</p>
	</div>
</div>
<div data-role="page" id="ref_optional_elevation">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Elevation &amp; Falling Damage</h1>
	</div>
	<div role="main" class="ui-content">
		<div class="ref-note"><p>All players must agree which advanced rules will be used before play begins, and ideally before creating a company. Advanced rules are enabled for this app through the settings from the main page.</p></div>

		<p>A frame that is at least 6 bricks higher than another frame is at elevation with respect to it. A frame at elevation uses the structure it is standing on as cover. Frames below it can only be covered by an object directly above them, such as a roof.</p>

		<p>Frames must use movement to climb or descend structures. Terrain can be built with natural methods to climb or descend such as ramps, stairs, or ladders. Frames that do not roll green must use these methods. A frame rolling green may always climb. To use a ladder or "free-climb" a structure, one movement unit can be used for 6 bricks of height.</p>

		<p>When a structure is hit, it may be destroyed or become unstable. Use your best judgement on this, as it will often be difficult to make a clear call. Be generous to the defender. If you decide that a frame has fallen, roll one damage die for every 3 bricks height of the fall. The frame received damage on 4, 5, and 6.</p>
	</div>
</div>
<div data-role="page" id="ref_optional_hazardous">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Hazardous Areas</h1>
	</div>
	<div role="main" class="ui-content">
		<div class="ref-note"><p>All players must agree which advanced rules will be used before play begins, and ideally before creating a company. Advanced rules are enabled for this app through the settings from the main page.</p></div>

		<p>When you set up the field, designate areas as hazardous. Indicate this in some meaningful way on the field. A differently colored or textured ground surface is common, but you can also use a determined radius from designated terrain. When you actiavte a frame that is inside a hazard area, you must reduce your dice pool by one white die.</p>

		<p>During company construction, you may choose an environmental system as part of any frame&#8217;s loadout. This is a system like any other and counts for all purposes such as loadout maximums, scoring, and damage. If a frame has an environmental system when it activates, it is not affected by a hazard when rolling (does not lose a white die).</p>
	</div>
</div>
<div data-role="page" id="ref_optional_per-frame-initiative">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Per-frame initiative</h1>
	</div>
	<div role="main" class="ui-content">
		<div class="ref-note"><p>All players must agree which advanced rules will be used before play begins, and ideally before creating a company. Advanced rules are enabled for this app through the settings from the main page.</p></div>

		<p>At the beginning of each round, roll a d20 for each frame. For any frame with less than four systems, roll an additional d20. Place these next to the frame.</p>

		<p>During tactical order, find the frame with the lowest value. This frame activates now. If a frame has two dice, its owner chooses which value to use when the lower number comes up. Resolve ties with a roll-off.</p>
	</div>
</div>
<div data-role="page" id="ref_optional_drop-white">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Dropping Whites for Damage</h1>
	</div>
	<div role="main" class="ui-content">
		<div class="ref-note"><p>All players must agree which advanced rules will be used before play begins, and ideally before creating a company. Advanced rules are enabled for this app through the settings from the main page.</p></div>

		<p>When you take damage, you may choose to assign it to your frame instead of one of its systems. Drop a white die from the frame&#8217;s dice pool for all future activations. You can only do this if the frame is not yet damaged; a second hit to a frame will destroy it.</p>
	</div>
</div>
<div data-role="page" id="ref_optional_jettison">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Jettisoning Systems</h1>
	</div>
	<div role="main" class="ui-content">
		<div class="ref-note"><p>All players must agree which advanced rules will be used before play begins, and ideally before creating a company. Advanced rules are enabled for this app through the settings from the main page.</p></div>

		<p>Before you roll your dice, you may remove systems from your own frame. Lay them on the field as if destroyed in battle; these cannot be picked up and used again. This has the effect of damaging your frame but may add the Green d8 to the dicepool when you roll. You may not jettison Whites.</p>
	</div>
</div>
<div data-role="page" id="ref_other_demo">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Demo games</h1>
	</div>
	<div role="main" class="ui-content">
		<p>These simplified rules are suggested to help quickly introduce new players. You may find them useful at conventions or any time the game is demonstrated. If you&#8217;re quick with the rules, this is a 15- or 20-minute demo for 3 players, maybe a 30-minute demo for 5.</p>

		<p>Place one station in the middle of the field. Provide each player with one soldier frame and one alternate, either a hand-to-hand or artillery variant. Frames are placed by the demo organizer, roughly following these guidelines:</p>
		<ul>
			<li>some in cover, some out of cover</li>
			<li>in roughly equilateral triangles whose sides are the length of direct fire range&#8212;some of the triangles include the objective as a corner point, some don't</li>
			<li>each player has a frame at 5&#8211;6 units away from the station, but nobody has one closer</li>
		</ul>

		<p>The idea is to put every frame at a moment of decision, and an easy way to do it is to put them just within direct-fire range from an enemy or a goal.</p>

		<p>All assets are worth 5 points. Tell players: &#8220;in the full game, things are worth different points to different players, but here, everything&#8217;s worth 5 points. You each have 2 frames so you each have 10 points. If you lose a frame, you lose 5 points. If you capture the station, you gain 5 points.&#8221;</p>

		<p>Set the doomsday clock to 5. Expect to play 2 rounds. &#8220;When the doomsday clock hits zero, whoever has the most points wins.&#8221;</p>

		<p>&#8220;In the full game, initiative depends on how many points you have, and maybe we&#8217;ll see that next turn. Since everybody&#8217;s equal now, we&#8217;ll just start on my left and go around.&#8221;</p>

		If somebody&#8217;s not getting the rules, I try to just talk them clearly through the decisions their dice are asking them to make. &#8220;First choose your target. Now gather your dice: you get [these]. Roll &#8216;em! Okay, now you need a defense value. Choose a blue or a white. Perfect. Now, do you want to move first, then attack, or attack first, then move? Great. Here&#8217;s what we do&#8230;&#8221;</p>

		<div class="ref-note"><p>Demo games are supported by this app.</p></div>
	</div>
</div>
<div data-role="page" id="ref_quick_hit-chart">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Rules Reference: Hit Charts</h1>
	</div>

	<div role="main" class="ui-content">
		<div class="ui-body ui-body-a ui-corner-all">
			<h2>Hand-to-hand:</h2>
			<img src="{{ asset('img/MFZ-Hit-h2h.svg') }}">
		</div>
		<div class="ui-body ui-body-a ui-corner-all">
			<h2>Direct-fire or artillery; target not in cover:</h2>
			<img src="{{ asset('img/MFZ-Hit-range.svg') }}">
		</div>
		<div class="ui-body ui-body-a ui-corner-all">
			<h2>Direct-fire or artillery; target in cover:</h2>
			<img src="{{ asset('img/MFZ-Hit-cover.svg') }}">
		</div>
		<div class="ui-body ui-body-a ui-corner-all">
			<h2>Direct-fire or artillery; target covered by a frame:</h2>
			<img src="{{ asset('img/MFZ-Hit-frame.svg') }}">
		</div>
		<div class="ui-body ui-body-a ui-corner-all">
			<h2>Targeting cover (any range):</h2>
			<img src="{{ asset('img/MFZ-Hit-terrain.svg') }}">
		</div>
	</div>
</div>
<div data-role="page" id="ref_quick_turn-order">
	<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false">
		<h1>Turn order</h1>
	</div>
	<div role="main" class="ui-content">
		<p>There are two methods that MFZ:RA uses to determine turn order: Tactical Order and Combat Order.</p>

		<h2>Tactical Order</h2>
		<p><em>Tactical order</em> is the normal method used to determine which frame activates next.</p>

		<p>The player with the highest score has the initiative, and chooses to activate a frame (take a turn) or pass. If the player passes, the player with the next lower score chooses to activate or pass, and so on. If all players with lower scores have activated all of their frames, a player may not pass and must activate a frame. A player automatically passes if all of his/her own frames have been activated.</p>

		<p>If a frame is attacked that has not yet activated this round, switch to <em>combat order</em>. Otherwise, each time a turn is resolved, the choice to activate returns to the player with the highest score.</p>

		<h2>Combat Order</h2>
		<p><em>Combat order</em> is used when a frame is coming under attack that has not yet activated this round. Otherwise, use <em>tacitcal order</em>. The defending frame is only activated if it actually needs to assign a defense value: the attacker is in range and has assigned an attack value.</p>

		<p>In <em>combat order</em>, the defender begins a turn before the attacker&#8217;s turn is finished:</p>
		<ul>
			<li><em>Attacker</em> takes a turn normally up until they are in range for an attack and have assigned an attack value</li>
			<li><em>Defender</em> names a target, rolls dice, and assigns a defense value</li>
			<li><em>Attacker</em> finishes turn (movement and spotting are possible)</li>
			<li><em>Defender</em> continues his/her turn</li>
		</ul>
		<p>In this process, the defending frame is activated. Once the attacker&#8217;s turn is completed, the defender continues its turn normally, including movement, attacks, and spotting. If this frame chooses to make an attack, it may become an attacker and need to pause its turn again for the new defender. This can create a chain of activations that carries through many players and frames. When a frame does not attack a frame that is not yet activated, return to tactical order.</p>

		<p>A frame that is destroyed does not get to continue its turn.</p>
	</div>
</div>