{% extends 'main.html.twig' %}

{% block main %}
<div data-role="page" id="main-page">
	<div role="main" class="ui-content" data-ajax="false">
		<p><a href="https://www.patreon.com/oauth2/authorize?response_type=code&client_id={{ patreon_client_id }}&redirect_uri={{ url('patreon-test') }}">Bounce to Patreon API check</a></p>

		<ul>
			<li>Real name: {{ msgphp_user.user.profile_realname|e }}</li>
			<li>{{ msgphp_user.user.email|e }}</li>
			{% if date(msgphp_user.user.elite_expires) > date() %}
				<li>Elite User (through {{ msgphp_user.user.elite_expires|date("Y-m-d") }})</li>
			{% else %}
				<li>Regular User
					{% if date(msgphp_user.user.elite_expires) > date('-2years') %}
						(expired {{ msgphp_user.user.elite_expires|date("Y-m-d") }})
					{% endif %}
				</li>
			{% endif %}
			<li>Patreon ID: {% if msgphp_user.user.patreon_id %}{{ msgphp_user.user.patreon_id }} &#8212; <a href="https://www.patreon.com/oauth2/authorize?response_type=code&client_id={{ patreon_client_id }}&redirect_uri={{ url('patreon-test') }}">Update Patreon Account</a>{% else %}None &#8212; <a href="https://www.patreon.com/oauth2/authorize?response_type=code&client_id={{ patreon_client_id }}&redirect_uri={{ url('patreon-test') }}">Connect Patreon Account</a>{% endif %}</li>

		</ul>
	</div>
</div>
{% endblock %}